# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# This file specifies intentionally untracked files that Git should ignore.
# See: https://help.github.com/articles/ignoring-files/
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Finder metadata
# ~~~~~~~~~~~~~~~
.DS_Store

# Scala
# ~~~~~
*.class
*.log

# Play Framework
# ~~~~~~~~~~~~~~
build/
dist/
lib/
logs/
src/
target/
/project/project/
/RUNNING_PID
/.classpath
/.project
/.settings

# IntelliJ IDEA
# ~~~~~~~~~~~~~
/.idea
/.idea_modules
