# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# This file specifies intentionally untracked files that Git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Explicit files to ignore.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Finder metadata
# ~~~~~~~~~~~~~~~
.DS_Store

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Directories to ignore.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Root project
# ~~~~~~~~~~~~
/.idea
/logs
/project/project
/project/target
/src
/target

# Nippon48 application
# ~~~~~~~~~~~~~~~~~~~~
/nippon48-ws/app/assets
/nippon48-ws/logs
/nippon48-ws/project
/nippon48-ws/target
/nippon48-ws/test/resources

# Cloudant database cleaner
# ~~~~~~~~~~~~~~~~~~~~~~~~~
/scripts/logs
/scripts/project
/scripts/src/main/java
/scripts/src/main/resources
/scripts/src/test
/scripts/target