/*
 * FILE:   nippon48-ws/public/stylesheets/main.css
 * AUTHOR: Kris Torres
 * DATE:   2016/02/22
 *
 * This stylesheet defines all the overriden selector properties of the minified
 * Bootstrap CSS for the Nippon48 application.
 */

/*------------------------------ General styles ------------------------------*/

body {
  background-color: #F0F0F0;
  padding-top: 50px;
}

article {
  background-color: white;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  article {
    border-radius: 16px;
    max-width: 975px;
    margin-bottom: 48px;
  }
}

article .rules {
  margin: 24px 0;
}

article ul li {
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 16px;
  margin: 4px 0;
}

article #error {
  border: 1px solid #A94442;
  border-radius: 4px;
  color: #A94442;
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
  margin: 48px auto;
  max-width: 700px;
  min-width: 425px;
  padding: 2px;
}

mark {
  background-color: white;
  color: red;
}

img {
  margin: 24px auto;
}

/*------------------------------- Text styles --------------------------------*/

.jumbotron h1 {
  font-family: Chelsea Market, sans-serif;
  line-height: 125%;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron h1 {
    font-size: 48px;
  }
}

article h2 {
  font: 24px Gill Sans;
}

article h3 {
  font: 22px Gill Sans;
}

article p {
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 16px;
}

footer p {
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 12px;
}

/*---------------------------------- Header ----------------------------------*/

.jumbotron {
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .jumbotron {
    margin-bottom: 0;
  }
}

/*--------------------------- Navigation and menus ---------------------------*/

nav {
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
}

/*---------------------------------- Tables ----------------------------------*/

.table {
  margin: 48px auto;
}

.table > tbody > tr > th {
  border: 1px solid #404040;
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
  vertical-align: middle;
}

.table > tbody > tr > td {
  border: 1px solid #404040;
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
  vertical-align: middle;
}

.table > tbody > tr:hover > td {
  background-color: #FFFFF0;
}

.btn-info {
  margin: 4px;
}

.btn-danger {
  margin: 4px;
}

/*------------------------------- Form inputs --------------------------------*/

form {
  margin: 24px auto 48px;
  width: 450px;
}

.form-group {
  margin: 16px 0;
}

.form-group > label {
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
}

.form-group > span {
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
}

input[type="text"] {
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
}

select {
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
}

.has-error > input[type="text"] {
  background-color: #FFF0F0;
}

.radio-button-group {
  margin: 24px 0;
}

.radio-button-group > label {
  margin-bottom: 0;
}

.radio {
  margin-left: 25px;
  width: 100px;
}

.radio label {
  color: black;
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
}

.btn-default {
  width: 100px;
}

/*------------------------------- Date picker --------------------------------*/

.ui-datepicker {
  border: 1px solid #C0C0C0;
  font-family: -apple-system, Helvetica Neue, Lucida Grande, sans-serif;
}

/*---------------------------------- Footer ----------------------------------*/

footer {
  border-top: 1px solid #808080;
  margin-top: 24px;
  padding-top: 16px;
}