@******************************************************************************
 * Renders an HTML body with a form for the user to add a Nippon48 member to  *
 * the database.                                                              *
 *                                                                            *
 * @param form   the HTML form                                                *
 * @param error  an ''optional'' that contains the error message, or `None`   *
 *               otherwise                                                    *
 ******************************************************************************@
@(form: Form[models.forms.Nippon48MemberData], error: Option[String])

@import bootstrap._
@import models.Nippon48Member.{validGroups, validTeams}
@import models.forms.Nippon48MemberData._

@main("Nippon48", Some("Add a New Member")) {

  <section>
    <header><h2>New Nippon48 Member Rules</h2></header>
    <ul>
      <li>
        Before adding a new Nippon48 member, check to make sure that the member
        is not already in the database.
      </li>
      <li>
        Do not add “imaginary” members (e.g.,
        <a href="http://stage48.net/wiki/index.php/Eguchi_Aimi">Aimi Eguchi</a>)
        or members that have already graduated (e.g.,
        <a href="http://stage48.net/wiki/index.php/Maeda_Atsuko">Atsuko Maeda</a>).
      </li>
      <li>
        The information pertaining to the new member must be accurate.
      </li>
    </ul>
  </section>
  <p>
    Please fill out the form below to add a Nippon48 member to the database:
  </p>

  <!-- Any error that is not associated to an HTML form element goes here. -->
  @for(error <- error) {
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign"
            aria-hidden="true">
      </span>
      @error
    </div>
  }

  <!-- The form used to add a Nippon48 member to the database. -->
  @helper.form(action = routes.Nippon48Controller.addMember()) {

    <!-- First name text field -->
    @text(form(FIRST_NAME_KEY), "first-name", "First name:", "Rino", true)

    <!-- Last name text field -->
    @text(form(LAST_NAME_KEY), "last-name", "Last name:", "Sashihara", true)

    <!-- Japanese name text field -->
    @text(form(NAME_JP_KEY), "name-jp", "Full name in Japanese characters:",
      "指原莉乃", false)

    <!-- Birthdate text field -->
    @defining(form(BIRTHDATE_KEY)) { field =>
      <div class="form-group @if(field.hasErrors) { has-error }">
        <label for="birthdate">
          Birthdate: <span class="required">*</span>
        </label>
        <input id="birthdate"
               name="@BIRTHDATE_KEY"
               class="form-control"
               type="date"
               placeholder="1992-11-21"
               value="@field.value.getOrElse("")"/>
        @if(field.hasErrors) {
          <span class="help-block">
            This field must contain a valid date in the format YYYY-MM-DD.
          </span>
        }
      </div>
    }

    <!-- Primary idol girl group combobox -->
    @combobox(form(PRIMARY_GROUP_KEY), "primary-group", "Primary group:",
      validGroups, true)

    <!-- Secondary idol girl group combobox -->
    @combobox(form(SECONDARY_GROUP_KEY), "secondary-group", "Secondary group:",
      validGroups, false)

    <!-- Primary team combobox -->
    @combobox(form(PRIMARY_TEAM_KEY), "primary-team", "Primary team:",
      validTeams, false)

    <!-- Secondary team combobox -->
    @combobox(form(SECONDARY_TEAM_KEY), "secondary-team", "Secondary team:",
      validTeams, false)

    <!-- Captain status radio button group -->
    @radio(form(CAPTAIN_STATUS_KEY), "Is the member a team captain?",
      Seq("Yes", "No"), true)

    <!-- OK button -->
    <div align="center">
      <button id="ok-button" class="btn btn-primary" type="submit">OK</button>
    </div>
  }
}