@******************************************************************************
 * Generates an HTML page with the specified explicit tab title, explicit     *
 * header and implicit body.                                                  *
 *                                                                            *
 * @param title    the explicit tab title                                     *
 * @param header   the explicit header                                        *
 * @param content  the implicit body                                          *
 ******************************************************************************@
@(title: String, header: String)(content: Html)

<!DOCTYPE html>

<html lang="en">

  <head>

    <!-- The following three meta tags must come first in the head. -->
    <!-- Any other head content must come after these tags.         -->
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>@title</title>

    <!-- Latest compiled jQuery UI CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <!-- Chelsea Market font CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Chelsea+Market"/>

    <!-- Custom styles -->
    <link rel="stylesheet"
          media="screen"
          href="@routes.Assets.at("stylesheets/main.css")"/>

    <!-- Favicon -->
    <link rel="shortcut icon"
          type="image/png"
          href="@routes.Assets.at("images/favicon.png")"/>

  </head>

  <body>

    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Nippon48</a>
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#nav-groups"
                  aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="nav-groups" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a>All Members</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                Groups <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                @for(group <- Nippon48Member.validGroups) {
                  <li><a>@group</a></li>
                }
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="@routes.Nippon48Controller.newMember">
                Add a New Member
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Jumbotron header -->
    <header class="jumbotron vertical-center">
      <div class="container text-center"><h1>@header</h1></div>
    </header>

    <!-- Main section -->
    <article class="container">
      @content
      <footer class="text-center"><p>Created by Kris Torres.</p></footer>
    </article>

    <!-- Latest compiled and minified jQuery -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
    </script>

    <!-- Latest compiled and minified jQuery UI -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js">
    </script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>

    <!-- Custom JavaScript functions -->
    <script type="text/javascript"
            src="@routes.Assets.at("javascripts/hello.js")">
    </script>

  </body>

</html>