@******************************************************************************
 * Renders an HTML page with the specified explicit section name and implicit *
 * body.                                                                      *
 *                                                                            *
 * @param appName  the explicit name of the application                       *
 * @param title    the explicit tab title                                     *
 * @param content  the implicit body                                          *
 ******************************************************************************@
@(appName: String, section: Option[String])(content: Html)

<!DOCTYPE html>

<html lang="en">

  <head>

    <!-- The following three meta tags must come first in the head. -->
    <!-- Any other head content must come after these tags.         -->
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description"
          content="The official Play web application dedicated to AKB48 and its associated acts!"/>

    <meta name="robots" content="index, follow"/>

    @section.map { section =>
      <title>@section — @appName</title>
    }.getOrElse {
      <title>@appName</title>
    }

    <!-- Latest compiled jQuery UI CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/ui-lightness/jquery-ui.css"/>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Candal, Luckiest Guy, and Open Sans fonts CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Candal|Luckiest+Guy|Open+Sans"/>

    <!-- Custom styles -->
    <link rel="stylesheet"
          media="screen"
          href="@routes.Assets.at("stylesheets/main.css")"/>

    <!-- Favicon -->
    <link rel="shortcut icon"
          type="image/png"
          href="@routes.Assets.at("images/favicon.png")"/>

  </head>

  <body>

    <!-- Navigation bar -->
    <nav id="navigation-light" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="@routes.Nippon48Controller.index">
            <b>Nippon48</b>
          </a>
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#nav-groups"
                  aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="nav-groups" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a class="dropdown-toggle"
                 data-toggle="dropdown"
                 role="button"
                 aria-haspopup="true"
                 aria-expanded="false">
                Groups <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                @for(group <- Nippon48Member.validGroups) {
                  <li>
                    <a href="@routes.Nippon48Controller.groupPage(group)">
                      @group
                    </a>
                  </li>
                }
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="@routes.Nippon48Controller.newMemberPage">
                Add a New Member
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron -->
    @section.map { section =>
      <header id="ske48-banner-top" class="jumbotron">
        <div class="container text-center">
          <h1>@section</h1>
        </div>
      </header>
    }.getOrElse {
      <header id="nippon48-banner-top" class="jumbotron">
        <div class="container text-center">
          <h1>@appName</h1>
          <p>
            The official Play web application dedicated to AKB48 and its
            associated acts!
          </p>
        </div>
      </header>
    }

    <!-- Main article -->
    <article id="content" class="container">
      @content
    </article>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          Created by <a href="mailto:kristorres1116@@gmail.com">Kris Torres</a>.
        </p>
      </div>
    </footer>

    <!-- Latest compiled and minified jQuery -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
    </script>

    <!-- Latest compiled and minified jQuery UI -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js">
    </script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

    <!-- Custom JavaScript functions -->
    <script type="text/javascript"
            src="@routes.Assets.at("javascripts/hello.js")">
    </script>

  </body>

</html>