@******************************************************************************
 * Renders an HTML body that displays the specified 404 Not Found error       *
 * message for an invalid Nippon48 member.                                    *
 *                                                                            *
 * @param message  the error message                                          *
 ******************************************************************************@
@(message: String)

@main("Nippon48", Some("Member Not Found")) {
  <img class="img-responsive" src="@routes.Assets.at("images/北原里英.jpg")"/>
  <h2 class="text-center">@message</h2>
}