@******************************************************************************
 * Generates an HTML view that lists the specified Nippon48 members and their *
 * stats in a table.                                                          *
 *                                                                            *
 * @param group  an ''optional'' that contains the group, or `None` to query  *
 *               all the members in the database                              *
 ******************************************************************************@
@(group: Option[String])

<table class="table">
  <colgroup>
    <col class="col-md-5 col-sm-4 col-xs-5"/>
    <col class="col-md-3 col-sm-3 col-xs-4"/>
    <col class="col-md-1 col-sm-1 col-xs-1"/>
    <col class="col-md-1 col-sm-1 col-xs-1"/>
    <col class="col-md-2 col-sm-3 col-xs-1"/>
  </colgroup>
  <tr class="active">
    <th class="text-center">Name</th>
    <th class="text-center">Birthdate (age)</th>
    <th class="text-center">Group(s)</th>
    <th class="text-center">Team(s)</th>
    <th></th>
  </tr>
  @for(member <- services.Cloudant.getMembers(group)) {
    <tr>
      <td>
        <a href="@member.wikiURL">@member.name</a>
        @if(member.nameInJapanese != null) { (@member.nameInJapanese) }
        @if(member.isCaptain) { <b>(C)</b> }
      </td>
      <td>@member.fullBirthdate (age @member.age)</td>
      <td class="text-center">@member.groups.mkString("/")</td>
      <td class="text-center">
        @if(!member.teams.isEmpty) {
          @member.teams.mkString("/")
        } else {
          —
        }
      </td>
      <td class="text-center">
        <a class="btn btn-info"
           href="@routes.Nippon48Controller.memberUpdatePage(member.getId)">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="btn btn-danger" data-id="@member.getId">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </td>
    </tr>
  }
</table>